

.m-login__logo{
    display: flex;
    justify-content: space-between;
}
.justify-content-between{
    justify-content: space-between;
}
.p__step{
    font-size: 16px;
    font-weight: 400;
}
.step__No{
    color: #196AAC;
    font-weight: bold;
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
 
    padding: 1rem 11px;
    margin-top: 0.1rem;
}

.m-checkbox>span:after {
    border: solid #00B4F0;
}
.btn__Sign {
    padding: 1rem 8.4rem !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
    border-radius: 5px !important;
    background: linear-gradient(90deg, #3EC4E9 0%, #29A6DE 100%);
    border-color: #29A6DE;
 box-shadow: none !important;
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control:focus {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 1rem 11px;
    margin-top: 0.1rem;
}
.btn__Sign:not(:disabled):not(.disabled):active, .btn__Sign:not(:disabled):not(.disabled).active, .show>.btn__Sign.dropdown-toggle .btn__Sign:hover {
    color: #fff;
    background: linear-gradient(90deg, #3EC4E9 0%, #29A6DE 100%);
    border-color: #29A6DE !important;
    box-shadow: none !important;
}

/*****Media query******/
@media (max-width: 1024px){
    .m-grid.m-grid--hor-tablet-and-mobile.m-grid--tablet-and-mobile>.m-grid__item.m-grid__item--order-tablet-and-mobile-2 {
     -webkit-box-ordinal-group: 3;
     -ms-flex-order: 2;
     order: 1;
 } 
 .m-form .form-control-label, .m-form .col-form-label, .m-form .m-form__group>label {
    padding-top: 10px;
}

 }
 
 @media (min-width: 1025px){
     .m-login.m-login--1 .m-login__aside {
         width: 950px;
     }
     .m-login.m-login--1 .m-login__aside {
         /* padding: 2rem 11rem; */
          padding:0; 
     }
     .m-login.m-login--1.m-login--signin .m-login__signin {
         padding: 2rem 11rem;
     }
     .m-login.m-login--1 .m-login__wrapper {
 
         padding: 0; 
    }
    .m-login__logo{
     padding: 10px 33px;
 }
 .btn__Sign {
     padding: 1rem 9.4rem !important;
 }
 .col-lg-3 {
    -webkit-box-flex: 1;
    flex: 1 1 30%;
    max-width: 30%;
}
 .forget-password-link{
     text-align: center !important;
 }
 .m-form .m-form__group:first-child {
    padding-top: 15px;
}
 }
 .m-link.m-link--focus {
    color: #196AAC;
    font-weight: 500 !important;
}
.m-link.m-link--focus:hover {
    color: #196AAC;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #29A6DE;
}
.form-control:focus {
    border-color: #29A6DE !important;
}
.select__Row{
    display: flex;
    justify-content: space-between;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 5px;
    border: 1px solid #ced4da;  
}
.requiredInput{
    color: #f4516c;
}
#phoneNo-error{
    display: none !important;
}
.terms{
color: black;
}
.select-padding{
    padding: 11px !important;
}
.justify-content-center{
justify-content: center;
}
.btn-Cancel{
    background: none;
    border: 0;
    color: gray;
}
.m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 1rem;
}
.m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav .m-wizard__steps {
    margin-top: 2rem;
}
.m-wizard.m-wizard--5.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number .m-wizard__step-label {
    color: rgb(42 167 222);
}
.m-wizard.m-wizard--5.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current {
    border-bottom: 2px solid rgb(42 167 222);
}
.select2 .select2-container .select2-container--default .select2-container--below{
    width: inherit !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: linear-gradient(90deg, #3EC4E9 0%, #29A6DE 100%)!important;;
    border-color: #29A6DE !important;
}
.btn-primary:hover {
    color: #fff;
    background: linear-gradient(90deg, #3EC4E9 0%, #29A6DE 100%);
    border-color: transparent !important;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(90deg, #3EC4E9 0%, #29A6DE 100%);
    border-color: transparent !important;
}
#accept-error{
    color: #f4516c !important;
}
.d-flex{
    display: flex;
}
.flex-end{
    justify-content: flex-end;
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action .btn {
    padding: .75rem 2rem;
}